doctype html
html
  | <?php include('../allPages.php'); ?>
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,400i', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
  script(src='pitJs.js')
  body
    #container
      #add-robot.action-card-body
        .action-card-header
          | Add a Team's Robot
        .divider
        .action-card-content(season='stronghold')
          #action-card-subtitle-offense.action-card-subtitle
            | Offense
          .divider.short
          .action-card-split-container
            #left-offense.action-card-subcontent
              .action-card-subtitle.mini
                | Shooting
              .options.options-highgoal
                .option-title
                  | Can this robot shoot the high goal?
                .options-container.radio
                  #option-highgoal-yes.option-button.radio.options-yes(onclick="radioOption('highgoal', true)")
                    | Yes
                  #option-highgoal-no.option-button.radio.options-no(onclick="radioOption('highgoal', false)")
                    | No
                form
                  // 0: no 1: yes 2: unspecified
                  input#option-highgoal(type='hidden', value='null')
              .options.input-highgoal
                .option-title
                  | How many shots can this robot consistently land on the high goal in a given match?
                form
                  // 0: no 1: yes 2: unspecified
                  input#variable-highgoal.variable-option(type='number', value='0', required='')
              .options.options-lowgoal
                .option-title
                  | Can this robot shoot the low goal?
                .options-container.radio
                  #option-lowgoal-yes.option-button.options-yes(onclick="radioOption('lowgoal', true)")
                    | Yes
                  #option-lowgoal-no.option-button.options-no(onclick="radioOption('lowgoal', false)")
                    | No
                form
                  // 0: no 1: yes 2: unspecified
                  input#option-lowgoal(type='hidden', value='null')
              .options.input-lowgoal
                .option-title
                  | About how many boulders does this robot get into the low goal in a given match?
                form
                  // 0: no 1: yes 2: unspecified
                  input#variable-lowgoal.variable-option(type='number', value='0', required='')
              .action-card-subtitle.mini
                | Additional Features
              #wheels-var.options.input-features
                .option-title
                  | What kind of wheels does this robot have?
                form
                  input#variable-wheels.variable-option.wide(type='text', required='')
              #info-var.options.input-features
                .option-title
                  | This is just a proof of concept.
                form
                  input#variable-unk.variable-option.wide(type='text', value="These forms don't actually matter", readonly='')
            #right-offense.action-card-subcontent
              .action-card-subtitle.mini
                | Obstacles
              .options.options-obstacle
                .option-title
                  | Obstacle Slot 1
                .options-container
                  #option-portcullis.option-button.options-yes(on='false', onclick="toggleOption('portcullis')")
                    | Portcullis
                  #option-cheval.option-button.options-yes(on='false', onclick="toggleOption('cheval')")
                    | Cheval de Frise
                form
                  input#option-obstacle-portcullis(type='hidden', value='false')
                  input#option-obstacle-cheval(type='hidden', value='false')
              .options.options-obstacle
                .option-title
                  | Obstacle Slot 2
                .options-container
                  #option-moat.option-button.options-yes(on='false', onclick="toggleOption('moat')")
                    | Moat
                  #option-rampart.option-button.options-yes(on='false', onclick="toggleOption('rampart')")
                    | Ramparts
                form
                  input#option-obstacle-moat(type='hidden', value='false')
                  input#option-obstacle-rampart(type='hidden', value='false')
              .options.options-obstacle
                .option-title
                  | Obstacle Slot 3
                .options-container
                  #option-drawbridge.option-button.options-yes(on='false', onclick="toggleOption('drawbridge')")
                    | Draw Bridge
                  #option-sallyport.option-button.options-yes(on='false', onclick="toggleOption('sallyport')")
                    | Sallyport
                form
                  input#option-obstacle-drawbridge(type='hidden', value='false')
                  input#option-obstacle-sallyport(type='hidden', value='false')
              .options.options-obstacle
                .option-title
                  | Obstacle Slot 4
                .options-container
                  #option-terrain.option-button.options-yes(on='false', onclick="toggleOption('terrain')")
                    | Rough Terrain
                  #option-rockwall.option-button.options-yes(on='false', onclick="toggleOption('rockwall')")
                    | Rock Wall
                form
                  input#option-obstacle-terrain(type='hidden', value='false')
                  input#option-obstacle-rockwall(type='hidden', value='false')
              .options.options-obstacle
                .option-title
                  | Permanent Obstacle
                .options-container
                  #option-lowbar.option-button.options-yes(on='false', onclick="toggleOption('lowbar')")
                    | Low Bar
                form
                  input#option-obstacle-lowbar(type='hidden', value='false')
          .submit-button(onclick='submitData()')
            | Submit Data to Server
    #mobile-notification.hidden
      #mobile-img &nbsp
      #mobile-txt
        | On mobile?
        br
        | Pin to your homescreen.
