.ea{
  border-radius: 2px;
  border: 1px solid black;
  margin: 4px;
  width: 35%;
  padding: 4px;
  padding-right: 0;

  background-color: rgb(212, 230, 241);
  background: linear-gradient(45deg, rgba(212, 230, 241, 0.5), rgba(174, 182, 191, 0.5));
}

#game-input{
  width: 86vw;
  height: 34vh;
  font-size: 22px;
  margin-left: 4px;
}

.game-submitted-list{
  font-size: 22px;
  padding: 4px;
}

#new-inputs{
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  width: calc(86vw - 12px);
  margin-bottom: 12px;
}

h2.small-head{
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}
