doctype html
html
  | <?php include('../globals/allPages.php'); ?>
  head
    script(src='gameJs.js')
    link(href='style.css', rel='stylesheet')
  body
    #container
      h1#header-main.header
        | SCOUT: GAME
      h2#header-stats.title
        | Participant Teams
      #content-stats.primary.stats-content
        //Show the stats of the participating teams.
        #stats-ally.stats-container
          #ally-1.stats.ally ally 1
          #ally-2.stats.ally ally 2
          #ally-3.stats.ally ally 3
        #stats-enemy.stats-container
          #enemy-1.stats.enemy enemy 1
          #enemy-1.stats.enemy enemy 2
          #enemy-1.stats.enemy enemy 3
      h2#header-input.title
        | Match Details
      #content-input.primary.input-content
        #input-heading
          | Write about what's happening in the match as it happens.
        #input-container-0.input-container
          input#input-data-0.live-input.data(value='What Happened?')
          input#input-team-0.live-input.team(value='Which Team?')
          span#rm-btn-0.remove-input-button
            | X  
